
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/rating.css">

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  
  color: white;
 
}
</style>

<div class="row mt-3">
   <div class="col-8 offset-2">

    <h2>Create New Listing</h2>
    <form action="/listings" method="POST" class="row g-3 needs-validation" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
      <input type="text" placeholder="enter title" name="listing[title]" class="form-control" required >
      <div class="invalid-feedback">
        Please choose a title.
      </div>

      </div>

      <div class="mb-3">
        <label for="description" class="form-label">description</label>
      <input type="text" placeholder="enter description" name="listing[description]" class="form-control" required>
      <div class="invalid-feedback">
        Please choose a description.
      </div>

      </div>

      

      <div class="mb-3">
        <label for="language" class="form-label">language</label>
      <input type="text" placeholder="enter language" name="listing[language]" class="form-control" required>
      <div class="invalid-feedback">
        Please choose a language.
      </div>

      </div>

      <div class="mb-3">
        <label for="image" class="form-label">enter image url</label>
      <input type="text" placeholder="enter image" name="listing[image]" class="form-control" required >
      <div class="invalid-feedback">
        Please choose a image.
      </div>

      </div>

      <div class="mb-3">
        <label for="rating" class="form-label">rating</label>
      <input type="number" placeholder="enter rating" name="listing[rating]" class="form-control" required>
      <div class="invalid-feedback">
        Please choose a rating.
      </div>

      </div>

      <div class="mb-3">
        <label for="duration" class="form-label">duration</label>
      <input type="text" placeholder="enter duration" name="listing[duration]" class="form-control" required>
      <div class="invalid-feedback">
        Please choose a duration.
      </div>

      </div>

      <div class="mb-3">
        <label for="movieType" class="form-label">movieType</label>
      <input type="text" placeholder="enter movieType" name="listing[movieType]" class="form-control" required>
      <div class="invalid-feedback">
        Please choose a movieType.
      </div>

      </div>


      <div class="mb-3">
        <label for="certifiedRating" class="form-label">certifiedRating</label>
      <input type="text" placeholder="enter certifiedRating" name="listing[certifiedRating]" class="form-control" required>
      <div class="invalid-feedback">
        Please choose a certifiedRating.
      </div>

      </div>
      <div class="mb-3">
        <label for="releaseDate" class="form-label">releaseDate</label>
      <input type="text" placeholder="enter releaseDate" name="listing[releaseDate]" class="form-control" required>
      <div class="invalid-feedback">
        Please choose a releaseDate.
      </div>

      </div>


      <div class="mb-3 ">
       <button class="btn btn-primary" type="submit">add</button>
      </div>
    </form>

</div>
</div>    